html {  
  /*Enable anti-aliasing for typography in current browsers*/
  -webkit-font-smoothing: antialiased;
}

html, head, body, section, div, header, footer, 
h1, h2, h3, h4, h5, h6, p, li, ul, a, span, img, div, section {
  font-family: "bodoni-urw", serif;
  color: black;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

p, li, ul, a { 
  font-weight: 400;
}

a:hover, .roundedRectangle:hover {
  cursor: pointer;
}

/*general rules for typography*/
.centerText {
  text-align: center;
}

.rightAlignText {
  text-align: right;
}

.uppercase {
  text-transform: uppercase;
}


.italic {
  font-style: italic;
}

.colorRed {
  color: #CE181E;
}

/*other general rules*/
.center {
  margin-left: auto;
  margin-right: auto;
}

.displayInlineBlock {
  display: inline-block;
}

.hidden {
  display: none;
}

.floatLeft {
  float: left;
}

.floatRight {
  float: right;
}

.circle {
  height: 50px;

  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px; 
  -khtml-border-radius: 50px;
  border: 3px solid #CE181E;
}

/*button styles*/
.roundedRectangle {
  padding: 5px;

  /*rounded border*/
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px; 
  -khtml-border-radius: 5px;
  border: 1px solid lightGray;

  /*transition effects*/
  -webkit-transition: border 0.3s ease;
  -moz-transition: border 0.3s ease;
  -o-transition: border 0.3s ease;
  transition: border 0.3s ease;
}

.roundedRectangle:hover {
  border: 1px solid #CE181E;
}

#navbarInterface > li {
  font-size: 0.9rem;
  display: inline-block;
}

header > h1 {
  font-size: 2.5rem;
  text-transform: uppercase;
}

.bodyText {
  color: #727272;
  font-size: 1.05rem;
  line-height: 1.9rem;
}

header > p > .intro {
  color: black;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.barChart {
  height: 15px;
}

.backgroundBlue {
  background-color: #2E5F97;
}

.colorBlue {
  color: #2E5F97;
}

.backgroundGray {
  background-color: #D5DADD;
}

.backgroundRed {
  background-color: #CE181E;
}

/*responsive for computers*/
@media only screen and (max-width: 820px) {
  .grid16 {
    width: 500px;
  }

  .grid17 {
    width: 550px;
  }

  .grid8 {
    width: 250px;
  }

  .grid5 {
    width: 100px;
  }

  .bodyText {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

@media only screen and (max-width: 570px) {
  .grid16 {
    width: 300px;
  }

  .grid17 {
    width: 350px;
  }

  .grid8 {
    width: 300px;
  }

  .grid5 {
    width: 150px;
  }

  header > h1 {
    line-height: 2rem;
  }

  .bodyText {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  #selectedCountry {
    display: block;
  }

  #chinaData {
    display: block;
  }

  #dataSection {
    padding: 0;
  }
}

/*responsive for devices*/
@media only screen and (min-device-width: 450px) and (max-device-width: 800px) {
  
  header > h1 {
    font-size: 4em;
  }
  
  p, li {
    font-size: 1.4em;
  }

  .bodyText {
    font-size: 1.1em;
    line-height: 1.5em;
  }

  #navbarInterface > li {
    font-size: 1.4em;
  }

  h2 {
    font-size: 2em;
  }

}

@media only screen and (max-device-width: 450px) {
  
  header > h1 {
    font-size: 6em;
    line-height: 0.9em;
    margin-bottom: 50px;
  }

  p {
    font-size: 0.8em;
  }

  li {
    font-size: 2em;
  }

  .bodyText {
    font-size: 0.9em;
    line-height: 1.2em;
  }

  h2 {
    font-size: 2em;
  }

  #navbarInterface > li {
    font-size: 2.2em;
  }

  #dataSection {
    margin: 0px auto;
    padding: 0;
  }

  .grid16, .grid17 {
    width: 800px;
  }

  .grid8 {
    width: inherit;
  }

  .grid1 {
    width: 100px;
  }

  .grid5 {
    width: 550px;
  }

  .grid4 {
    width: 350px;
  }

  #selectedCountry {
    margin-top: 50px;
    display: block;
  }

  #chinaData {
    margin-top: 50px;
    display: block;
  }

  .barChart {
    height: 30px;
  }

}